[application]
fileStore = "googlecloud"

[server]
port = "3000"
enableDelayMiddleware = false

[database]
name = "tankerBuilds"
user = "tankerBuilds"
password = "tankerBuilds"
host = "localhost"
port = 5432
maxPoolSize = 10

[googlecloud]
jsonConfig = "/Users/sudhanshu/private/flying-monkey-club-1483.json"
bucket = "shrieking-cat"